.wrapper .content-note1, .wrapper .content-note2{
    clear: both;
    font-size: 18px;
    width:550px;
    height: 30px;
    text-align: center;
}

.wrapper .content-note2{
    font-size: 14px;
}

.form-table{
    width: 550px;
    padding: 20px 0 90px 0;
    border-radius: 10px;
    background: #f1f1f1;
    color: #000;
    margin-top: 10px;
}

.form-list{
    width: 500px;
    text-align: center;
    line-height: 35px;
}

.form-list span{
    display: inline-block;
    text-align: left;
    width: 100px;
    font-size: 14px;
}

.form-list input{
    width: 300px;
    height: 25px;
}

.form-list .form-button{
    margin: 25px 0 0 115px;
    float: left;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: rgba(82, 183, 109, 1);
    color: #fff;
    cursor: pointer;
}

.error{
    position: relative;
    float: left;
    left: 150px;
    top: 10px;
    color: red;
}
