<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产管理 - 首页</title>
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/server-list.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="nav">
        <div class="nav-left">某某有限公司资产管理</div>
        <div class="nav-right">
            <div class="nav-right-name">李日天&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
            <dl class="nav-right-signout">
                <dd><a href="person_detail.html">修改密码</a></dd>
                <dd><a href="login.html">退&nbsp;&nbsp;&nbsp;&nbsp;出</a></dd>
            </dl>
                </div>
        </div>
    </div>
    <div class="sidebar">
        <ul>
            <li class="active-li"><a href="index.html"><i class="fa fa-tachometer" aria-hidden="true"></i><span class="">资产概览</span></a></li>
            <li><a href="server_list.html"><i class="fa fa-table" aria-hidden="true"></i><span>生产服务器</span></a></li>
            <li><a href="bgserver_list.html"><i class="fa fa-th-large" aria-hidden="true"></i><span class="">办公服务器</span></a></li>
            <li><a href="nonserver_list.html"><i class="fa fa-bars" aria-hidden="true"></i><span class="">非服务器</span></a></li>
            <li><a href="person_list.html"><i class="fa fa-user" aria-hidden="true"></i><span class="">人员管理</span></a></li>
            <li><a href="operater_log.html"><i class="fa fa-book" aria-hidden="true"></i><span class="">日志记录</span></a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="table-left">
                <p>生产服务器统计</p>
                <br/><br/>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="table-line">序号</th>
                            <th>资产类型</th>
                            <th class="table-line">数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-line">1</td>
                            <td>服务器</td>
                            <td class="table-line">3</td>
                        </tr>
                        <tr>
                            <td class="table-line">2</td>
                            <td>网关</td>
                            <td class="table-line">5</td>
                        </tr>
                        <tr>
                            <td class="table-line" colspan="2">合计</td>
                            <td class="table-line">8</td>
                        </tr>
                    </tbody>
                </table>
                <br/><br/>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="table-line">序号</th>
                            <th>服务器类型</th>
                            <th class="table-line">数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-line">1</td>
                            <td>Linux</td>
                            <td class="table-line">15</td>
                        </tr>
                        <tr>
                            <td class="table-line">2</td>
                            <td>Windows</td>
                            <td class="table-line">20</td>
                        </tr>
                        <tr>
                            <td class="table-line" colspan="2">合计</td>
                            <td class="table-line">35</td>
                        </tr>
                    </tbody>
                </table>
                <br/><br/>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="table-line">序号</th>
                            <th>数据库类型</th>
                            <th class="table-line">数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-line">1</td>
                            <td>Oracle</td>
                            <td class="table-line">20</td>
                        </tr>
                        <tr>
                            <td class="table-line">2</td>
                            <td>Mysql</td>
                            <td class="table-line">12</td>
                        </tr>
                        <tr>
                            <td class="table-line">3</td>
                            <td>Sql Server</td>
                            <td class="table-line">8</td>
                        </tr>
                        <tr>
                            <td class="table-line" colspan="2">合计</td>
                            <td class="table-line">40</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-middle">
                <p>办公服务器统计</p>
                <br/><br/>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="table-line">序号</th>
                            <th>资产类型</th>
                            <th class="table-line">数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-line">1</td>
                            <td>服务器</td>
                            <td class="table-line">3</td>
                        </tr>
                        <tr>
                            <td class="table-line">2</td>
                            <td>网关</td>
                            <td class="table-line">5</td>
                        </tr>
                        <tr>
                            <td class="table-line" colspan="2">合计</td>
                            <td class="table-line">8</td>
                        </tr>
                    </tbody>
                </table>
                <br/><br/>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="table-line">序号</th>
                            <th>服务器类型</th>
                            <th class="table-line">数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-line">1</td>
                            <td>Linux</td>
                            <td class="table-line">15</td>
                        </tr>
                        <tr>
                            <td class="table-line">2</td>
                            <td>Windows</td>
                            <td class="table-line">20</td>
                        </tr>
                        <tr>
                            <td class="table-line" colspan="2">合计</td>
                            <td class="table-line">35</td>
                        </tr>
                    </tbody>
                </table>
                <br/><br/>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="table-line">序号</th>
                            <th>数据库类型</th>
                            <th class="table-line">数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-line">1</td>
                            <td>Oracle</td>
                            <td class="table-line">20</td>
                        </tr>
                        <tr>
                            <td class="table-line">2</td>
                            <td>Mysql</td>
                            <td class="table-line">12</td>
                        </tr>
                        <tr>
                            <td class="table-line">3</td>
                            <td>Sql Server</td>
                            <td class="table-line">8</td>
                        </tr>
                        <tr>
                            <td class="table-line" colspan="2">合计</td>
                            <td class="table-line">40</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-right">
                <p>非服务器统计</p>
                <br/><br/>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="table-line">序号</th>
                            <th>资产类型</th>
                            <th class="table-line">数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-line">1</td>
                            <td>笔记本</td>
                            <td class="table-line">3</td>
                        </tr>
                        <tr>
                            <td class="table-line">2</td>
                            <td>台式机</td>
                            <td class="table-line">5</td>
                        </tr>
                        <tr>
                            <td class="table-line">3</td>
                            <td>电话机</td>
                            <td class="table-line">7</td>
                        </tr>
                        <tr>
                            <td class="table-line">4</td>
                            <td>摄像头</td>
                            <td class="table-line">5</td>
                        </tr>
                        <tr>
                            <td class="table-line" colspan="2">合计</td>
                            <td class="table-line">20</td>
                        </tr>
                    </tbody>
                </table>
                <br/><br/>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th class="table-line">序号</th>
                            <th>所在网络</th>
                            <th class="table-line">数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-line">1</td>
                            <td>办公</td>
                            <td class="table-line">15</td>
                        </tr>
                        <tr>
                            <td class="table-line">2</td>
                            <td>生产</td>
                            <td class="table-line">20</td>
                        </tr>
                        <tr>
                            <td class="table-line" colspan="2">合计</td>
                            <td class="table-line">35</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>