<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产管理 - 登录</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body class="login-bg">
    <div class="login-content">
        <div class="login-title">某某有限公司资产管理登录</div>
        <form action="" method="post">
            <input class="login-input topline" type="text" name="username" placeholder="用户名">
            <input class="login-input" type="text" name="password" placeholder="密码">
            <!--<div class="error">账号密码错误！</div>-->
            <input class="login-input login-submit" type="submit">
        </form>
    </div>
</body>
</html>