<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产管理 - 人员详情</title>
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/server-list.css">
    <link rel="stylesheet" href="../static/css/server-add.css">
    <link rel="stylesheet" href="../static/css/server-detail.css">
</head>
<body>
    <div class="nav">
        <div class="nav-left">某某有限公司资产管理</div>
        <div class="nav-right">
            <div class="nav-right-name">李日天&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
            <dl class="nav-right-signout">
                <dd><a href="person_detail.html">修改密码</a></dd>
                <dd><a href="login.html">退&nbsp;&nbsp;&nbsp;&nbsp;出</a></dd>
            </dl>
                </div>
        </div>
    </div>
    <div class="sidebar">
        <ul>
            <li><a href="index.html"><i class="fa fa-tachometer" aria-hidden="true"></i><span>资产概览</span></a></li>
            <li><a href="server_list.html"><i class="fa fa-table" aria-hidden="true"></i><span>生产服务器</span></a></li>
            <li><a href="bgserver_list.html"><i class="fa fa-th-large" aria-hidden="true"></i><span>办公服务器</span></a></li>
            <li><a href="nonserver_list.html"><i class="fa fa-bars" aria-hidden="true"></i><span>非服务器</span></a></li>
            <li><a href="person_list.html"><i class="fa fa-user" aria-hidden="true"></i><span>人员管理</span></a></li>
            <li><a href="operater_log.html"><i class="fa fa-book" aria-hidden="true"></i><span>日志记录</span></a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="content">
            <p class="content-note1">修改人员资料</p>
            <p class="content-note2">标注为*为必填项</p>
            <div style="clear:both"></div>
            <form class="form-table" action="" method="post">
                <div class="form-list">
                    <span>*姓名</span><input type="text" name="name" value=""/>
                </div>
                <div class="form-list">
                    <span>*新密码</span><input type="text" name="newpwd1" value=""/>
                </div>
                <div class="form-list">
                    <span>*确认密码</span><input type="text" name="newpwd2" value=""/>
                </div>
                <div class="form-list">
                    <span>&nbsp;&nbsp;部门</span><input type="text" name="department" value=""/>
                </div>
                <div class="form-list">
                    <span>*管理员</span><input type="text" name="isadmin" value="" placeholder="1表示是管理员，0表示非管理员"/>
                </div>
                <!--<div class="error">输入有误，请检查！</div>-->
                <div style="clear:both"></div>
                <div class="form-list">
                    <input class="form-button" type="submit" value="保存"/>
                </div>
                <div class="form-list">
                     <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
                </div>
                <div class="form-list">
                     <button class="form-button form-button-del" type="button" onclick="btn_delete()">删除</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function btn_cancel() {
            location.href = "person_list.html";
        };

        function btn_delete() {
            location.href = "person_list.html";
        }
    </script>
    <!--<script src="../static/js/person.js"></script>-->
</body>
</html>